<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>land_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,65},{63,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,40}}</string>
				<key>sourceSize</key>
				<string>{63,40}</string>
			</dict>

			<key>land_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,106},{40,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,64}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>land_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,171},{40,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,64}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>land_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,195},{64,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,40}}</string>
				<key>sourceSize</key>
				<string>{64,40}</string>
			</dict>

			<key>land_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>land_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,65},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>land_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>land_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>land-spritesheet.png</string>
			</dict>
		</dict>
</plist>